/* ----------- CSS reset (make styles look the same in every browser) ----------- */

html{color:#000;background:white;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}
li{list-style:none;}
caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
a img {border:none;}
blockquote,q{quotes:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}

/* ----------- Clear and Spacing ----------- */

.clear {
	margin: 0 0 -1px 0;
	line-height: 1px;
	display: block;
	font-size: 1px;
	clear: both;
	height: 1px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	line-height: 0;
	content: " ";
	clear: both;	
	height: 0;
}
* html .clearfix {
	zoom: 1;
}
*:first-child+html .clearfix {
	zoom: 1;
}


/* ----------- Font styles ----------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, 
body {
	font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 22px;
    font-weight: 300;
	line-height: 1.5;
    color: #666;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    line-height: 1.2;
    margin: 1em 0 0.4em;
    color: #333;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}
h1 {
	font-size: 2.2em;
    font-weight: 300;
}
h2 {
	font-size: 1.7em;
    font-weight: 300;
    font-style: normal;
}
h3 {
	font-size: 1.4em;
    font-weight: 300;
}
h4 {
	font-size: 1.2em;
    font-weight: 300;
}
h5 {
	font-size: 1.2em;
    font-weight: 400;
}
h6 {
	font-size: 1em;
	font-weight: 700;
}
p {
	font-size: 1em;
	margin-bottom: 1em;
}
b, strong {
	font-weight: bold;
}
a {
	color: rgb(53, 93, 196);
	text-decoration: none;
	outline: none;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}
a:hover, a:focus {
	color: rgb(54, 77, 138);
	text-decoration: none;
}
ul {
	margin: 0 0 1em;
	padding: 0 0 0 2em;
}
ul li {
	margin: 0;
	padding: 0;
	list-style: disc;
}
ol {
	margin: 0 0 1em;
	padding: 0 0 0 2em;
}
ol li {
	margin: 0;
	padding: 0;
	list-style: decimal;
}
pre {
    border-left: 5px solid orange;
    padding: 1em;
    margin: 0 0 1em;
    background: #fcfcfc;
}


/* ----------- Global styles ----------- */

.main-head {
    text-align: center;
    padding: 4em 2%;
    background: url('http://farm6.staticflickr.com/5217/5386093672_e14ef0a6df_z.jpg') no-repeat center top fixed;
    background-size: cover;
    box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.5);
}
.main-head h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    font-size: 5em;
    letter-spacing: -7px;
    word-spacing: 20px;
    color: rgba(255,255,255,0.8);
    text-shadow: 0 0 10px #777;
    margin: 0;
}

.main-foot {
    padding: 2em 5%;
    text-align: center;
    box-shadow: inset 0 10px 20px -10px rgba(0,0,0,0.7);
    font-size: 0.8em;
    position: relative;
}
.main-foot:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
}
.main-foot p {
    margin: 0;
    position: relative;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.post-single {
    border-top: 1px solid #dbdbdb;
    padding: 2em 5% 1.4em;
    position: relative;
}
.post-single:first-child {
    border-top: 0;
}
.post-single .post-meta {
    font-size: 0.8em;
    color: #999;
    padding-top: 1em;
}

.content {
    padding: 4em 5%;
}

@media screen and (min-width: 768px) {
    .main-head {
        padding-top: 6em;
        padding-bottom: 6em;
        background-image: url('http://farm6.staticflickr.com/5217/5386093672_e14ef0a6df_b.jpg');
    }
    .main-head h1 {
        font-size: 7em;
        letter-spacing: -10px;
    }
    
    .latest-posts {
        padding: 2em 0 2.4em;
    }
    
    .post-single {
        padding-right: 0;
        padding-left: 0;
    }
    .post-single .post-meta {
        position: absolute;
        top: 3em;
        right: 0;
        padding-top: 0;
    }
    .post-single .post-head {
        padding-right: 150px;
    }
    
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}